<%layout("/layouts/boilerplate")%>
    <br>
    <BR>
    
    <div class="row">
        <h2>Create New Listing</h2>
        <div class="col-8 offset-2">
    <form method="post" action="/listings"  class="needs-validation"  novalidate enctype="multipart/form-data" > 
        <div class="mb-3"> 
            <label for="title " class="form-label">Title</label>
            <input placeholder="Add a catchy Title" name="listing[title]" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
        
       
      
      <div class="mb-3">
        <label for="description " class="form-label">Description</label>
        <textarea  name="listing[description]" type="text" class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
     
      
       <div class="mb-3">
        <label for="image" class="form-label"> Upload  listing Image </label>
        <input  name="listing[image]" type="file"  class="form-control" required>
       </div>
       
      <div class="mb-3">
        <label for="loaction" class="form-label">Loaction</label>
        <input placeholder="Jaipur,Rajasthan" name="listing[location]" type="text" class="form-control" required>
      <div class="invalid-feedback">Location should be valid </div>
     </div>
      <div class="row">
      <div class="mb-3  col-md-8">
        <label for="country" class="form-label">Country</label>
        <input placeholder="India" name="listing[country]" type="text" class="form-control" required >
        <div class="invalid-feedback">Country  name should be valid</div>
      </div>
      <div class="mb-3 col-md-4" >
        <label for="price" class="form-label">Price</label>
        <input placeholder="1200" name="listing[price]"  class="form-control" required >
        <div class="invalid-feedback">Price should be valid</div>
       </div>
       </div>
       <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
   <br>
    </div>
    </div>

